%% -*-Erlang-*-
{lib_dirs, ["deps"]}.
{require_otp_vsn, "17|18"}.

{erl_opts, [
    {parse_transform, lager_transform},
    fail_on_warning
]}.

{erl_first_files, [ "src/dws_message_codec.erl" ]}.

{plugins, [rebar_vsn_plugin]}.
{plugin_dir, "deps/rebar_vsn_plugin/src"}.

{eunit_compile_opts, [{src_dirs, ["test"]}]}.

{deps, [
    {'lager', ".*",
      {git, "https://github.com/basho/lager.git", "master"}},
    {'cowboy', ".*",
      {git, "https://github.com/extend/cowboy.git", "master"}},
    {'idealib', ".*",
      {git, "https://github.com/ztmr/idealib_erl.git", "master"}},
    {msgpack, ".*",
      {git, "https://github.com/msgpack/msgpack-erlang.git", "master"}},
    {'rebar_vsn_plugin', ".*",
      {git, "https://github.com/ztmr/rebar_vsn_plugin", "master"}}
]}.
